.galerie {
  place-items: center;
  background: var(--gradient-9);
}

:root {
  --transition: 0.5s;
}.pdf-container {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

/* Par défaut (mobile) : masquer l'iframe */
.pdf-container iframe {
  display: none;
}

/* Lien visible sur mobile */
.pdf-container p {
  text-align: center;
  margin-top: 10px;
}

.pdf-container a {
  color: #007bff;
  text-decoration: none;
}

.pdf-container a:hover {
  text-decoration: underline;
}

/* Desktop / tablette : afficher iframe */
@media (min-width: 769px) {
  .pdf-container {
    width: 70%;
    max-width: 800px;
    overflow: hidden;
  }

  .pdf-container iframe {
    display: block;
    width: 100%;
    height: 600px; /* ou un height qui te convient */
    border: none;
  }
}



  
.container {
  width: 80vw;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin-bottom: 20px;
}

.container img {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
}

.container img:hover {
  --grayscale: 0;
  flex: var(--magnifier);
}


