.galerie {
  place-items: center;
  background: var(--gradient-9);
}

:root {
  --transition: 0.5s;
}
  
.container {
  width: 80vw;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin-bottom: 20px;
}

.container img {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
}

.container img:hover {
  --grayscale: 0;
  flex: var(--magnifier);
}

.fresque {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 220px;
}

.fresque__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.fresque__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0; /* invisible au départ */
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  z-index: 2; /* texte au-dessus */
}

/* Effet hover */
.fresque:hover .fresque__image {
  filter: brightness(50%); /* assombrissement */
}

.fresque:hover .fresque__text {
  opacity: 1; /* texte apparaît */
}

